.pantallaCarga {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: #6d6deb;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 100dvw;
    height: 100dvh;
    background-color: #f1f1f1;
    color: #181818
}
.products {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.product {
    width: 29%;
    padding: 1%;
    background-color: #f4f4f4;
    margin: 1%;
    border: #181818 1px solid;
    border-radius: 10px;
}
.categoria {
    font-style: italic;
}
.oscuro .app {
    color: #f1f1f1;
    background-color: #181818 !important;
}
.oscuro .h1 {
    color: #000;
}
.oscuro .product {
    background-color: #464545;
    border: #f1f1f1 solid 1px;
}