.principal {
    display: flex;
    flex-direction: column;
    height: 80dvh;
    width: 60dvw;
    margin: 0px auto;
}
.principal img, .principal div{
    margin: 0px auto;
}
.principal div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.activa {
    border: orange double 3px;
    box-shadow: 5px 5px grey;
}